{{define "index"}}
{{template "header"}}
<section>
    <h2>Your concept:</h2>
    <p>
        Random concept generates here
    </p>
    <form action="/save" method="POST">
        <input type="text" name="title" placeholder="title">
        <br>
        <br>
        <textarea name="body" id="" cols="30" rows="10" placeholder="body"></textarea>
        <br>
        <br>
        <button type="submit">submit</button>
    </form>
</section>
<section>
    <h2>Saved pages</h2>
    <p>
        {{range .Pages}}<a href="./pages/{{.}}">{{.}}</a> {{end}}
    </p>
</section>
{{template "footer"}}
{{end}}