{{define "index"}}
{{template "header"}}
<section>
    <h2>Your prompt:</h2>
    <ul>
        {{with .Hand}}
        <li>Concept: {{.Concept}}</li>
        <li>Idea: {{.Idea}}</li>
        <li>Medium: {{.Medium}}</li>
        <li>Noun: {{.Noun}}</li>
        {{end}}
    </ul>
    <form action="/save" method="POST">
        <input type="text" name="title" placeholder="title">
        <br>
        <br>
        <textarea name="body" id="" cols="30" rows="10" placeholder="body"></textarea>
        <br>
        <br>
        <button type="submit">submit</button>
    </form>
</section>
<section>
    <h2>Saved pages</h2>
    <p>
        {{range .Pages}}<a href="./pages/{{.}}">{{.}}</a> {{end}}
    </p>
</section>
{{template "footer"}}
{{end}}